@import "tailwindcss";
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.gallery-container {
  width: 80%;
  margin: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.gallery-image {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.loading {
  font-size: 18px;
}

.error {
  color: red;
}
